<div class="store-container mt-3" [@fadeAnimation] [@.disabled]="isLoading && !store && ! showStore">

    <div *ngIf="store && !isLoading" class="menubar mb-5" [@fadeAnimation]
        [@.disabled]="isLoading && !store && ! showStore">
        <p-menubar [model]="items" />
    </div>

    <div *ngIf="isLoading || uploadingBg || uploadingLogo" class="skeleton relative">
        <div class="images-skeleton">
            <div class="bgimage w-full h-20rem">
                <p-skeleton *ngIf="!bgImageLoaded || uploadingBg || uploadingLogo " width="100%"
                    height="100%"></p-skeleton>
            </div>

            <div class="logoimage flex w-full justify-content-center">
                <div class="circleFrame border-2 border-300">
                    <p-skeleton *ngIf="!logoImageLoaded || uploadingBg ||  uploadingLogo" shape="circle" width="100%"
                        height="100%"></p-skeleton>
                </div>
            </div>
        </div>

        <div class="title m-5 flex flex-column justify-content-center gap-2">
            <div class="flex justify-content-center mt-4">
                <p-skeleton *ngIf="isLoading || uploadingLogo || uploadingBg" height="25px" width="80px"></p-skeleton>
            </div>
            <div class="flex justify-content-center align-items-center gap-2">
                <p-skeleton *ngIf="isLoading || uploadingLogo || uploadingBg" height="20px" width="100px"></p-skeleton>
            </div>
        </div>
    </div>


    <div *ngIf="store && !uploadingBg && !uploadingLogo && !isLoading" class="store" [@fadeAnimation]
        [@.disabled]="isLoading && uploadingBg && uploadingLogo && isTextLoading">
        <div class="images relative">
            <div class="bgimage w-full h-20rem relative dark-overlay">
                <img [src]="store?.store_bg" alt="Background Image" (load)="onBgImageLoad()"
                    [class.hidden]="!bgImageLoaded || uploadingBg" />
                <span class="status" [ngClass]="store?.status === 'Active' ? 'bg-green-400' :
                                store?.status === 'InActive' ? 'bg-red-400' :
                                'bg-orange-400'">{{store?.status}}</span>
                <i class="bg-camera pi pi-camera" (click)="bgInput.click()"></i>
                <input #bgInput type="file" accept="image/*" style="display: none"
                    (change)="onBgUpload($event); $event.stopPropagation()" />
            </div>

            <div class="logoimage flex w-full justify-content-center">
                <div class="circleFrame border-2 border-200">
                    <img [src]="store?.store_logo" alt="Logo Image" (load)="onLogoImageLoad()"
                        [class.hidden]="!logoImageLoaded || uploadingLogo" />
                    <i class="logo-camera pi pi-camera" (click)="logoInput.click()"></i>
                    <input #logoInput type="file" accept="image/*" style="display: none"
                        (change)="onLogoUpload($event); $event.stopPropagation()" />
                </div>
            </div>
        </div>

        <div *ngIf="!isTextLoading" class="title m-6 flex flex-column justify-content-center text-center">
            <div class="name flex justify-content-center">
                <p class="text-2xl font-medium m-auto">{{store?.name}}</p>
            </div>
            <div class="location flex justify-content-center align-items-center gap-2">
                <img [src]="'https://flagcdn.com/' + store?.location.code + '.svg'" height="20px" width="20px"
                    class="flag" alt="">
                <span class="text-gray-400">{{store?.location.country}}</span>
            </div>
            <div class="categories flex justify-content-center align-items-center gap-2 mt-2">
                @for ( category of store.categories; track category.name) {
                <p-chip [label]="category.name" [icon]="category.icon"></p-chip>
                }
            </div>
        </div>
    </div>
</div>

<p-toast />
<p-confirmDialog></p-confirmDialog>